xsd/fournisseur.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" 
           elementFormDefault="qualified" 
           targetNamespace="http://maroctech.ma/fournisseur" 
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="bonDeCommande">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="numeroCommande" type="xs:string" />
        <xs:element name="dateCommande" type="xs:date" />
        <xs:element name="fournisseur">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="nom" type="xs:string" />
              <xs:element name="adresse">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="rue" type="xs:string" />
                    <xs:element name="ville" type="xs:string" />
                    <xs:element name="codePostal" type="xs:unsignedShort" />
                    <xs:element name="pays" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="telephone" type="xs:string" />
              <xs:element name="email" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="client">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="nom" type="xs:string" />
              <xs:element name="adresse">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="rue" type="xs:string" />
                    <xs:element name="ville" type="xs:string" />
                    <xs:element name="codePostal" type="xs:unsignedInt" />
                    <xs:element name="pays" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="telephone" type="xs:string" />
              <xs:element name="email" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="lignesCommande">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="ligne">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="produit">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="reference" type="xs:string" />
                          <xs:element name="designation" type="xs:string" />
                          <xs:element name="quantite" type="xs:unsignedByte" />
                          <xs:element name="prixUnitaire">
                            <xs:complexType>
                              <xs:simpleContent>
                                <xs:extension base="xs:decimal">
                                  <xs:attribute name="devise" type="xs:string" use="required" />
                                </xs:extension>
                              </xs:simpleContent>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="poidsUnitaire">
                            <xs:complexType>
                              <xs:simpleContent>
                                <xs:extension base="xs:decimal">
                                  <xs:attribute name="unite" type="xs:string" use="required" />
                                </xs:extension>
                              </xs:simpleContent>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="numero" type="xs:unsignedByte" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="montantTotal">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="xs:decimal">
                <xs:attribute name="devise" type="xs:string" use="required" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="conditionsLivraison" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>